.wrapper {
    grid-area: bd;
    background-color: rgb(63, 63, 63);
    color: white;
    font-size: 28px;
    border-radius: 50px;
    width: 90%;
    justify-self: center;
    font-weight: 600;
}

.wrapper:hover {
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.text {
    margin: 0;
    transform: translateY(50%);
    padding-left: 24px;
}